<div class="row mb-2" [hidden]="!isErrorAlertHidden">
  <div class="col-sm-4"><img [src]="story?.cover_img_url" onError="this.src = 'assets/images/not-available-360x270.png'"
      alt="Immagine storia" class="img-fluid border p-1"></div>
  <div class="col-sm-6">
    <h5>{{story?.titolo}}</h5>
    <p>{{story?.descr || 'Nessuna descrizione disponibile.'}}</p>
  </div>
  <div class="col-sm-2">
    <p class="small" *ngIf="story"><i class="fa fa-university" title="Bene culturale" aria-hidden="true"></i>&nbsp;<a
        [routerLink]="'/beni/'+story.id_bene">Bene culturale</a>
    </p>
    <p class="small"><i class="fa fa-pencil" title="Data creazione"
        aria-hidden="true"></i>&nbsp;{{(story?.created_at | date: 'dd-MM-yyyy') || 'n.d.'}}
    </p>
    <p class="small"><i class="fa fa-clock-o" title="Data ultima modifica"
        aria-hidden="true"></i>&nbsp;{{(story?.modified_at | date: 'dd-MM-yyyy') || 'n.d.'}}</p>
    <p class="small"><i class="fa fa-user" title="Proprietario"
        aria-hidden="true"></i>&nbsp;{{story?.owner_username || 'n.d.'}}
    </p>
    <p class="small"><i class="fa fa-calendar-check-o" title="Data approvazione"
        aria-hidden="true"></i>&nbsp;{{(story?.approved_at | date: 'dd-MM-yyyy') || 'n.d.'}}
    </p>
    <p class="small"><i class="fa fa-user-circle" title="Approvatore"
        aria-hidden="true"></i>&nbsp;{{story?.approver_username || 'n.d.'}}
  </div>
</div>

<!-- asset alert row -->
<div class="row justify-content-center mb-2" [hidden]="isErrorAlertHidden">
  <div class="alert alert-danger" role="alert">
    Impossibile ottenere informazioni sulla storia. Provare a ricaricare la pagina.
  </div>
</div>
<!-- END asset alert row -->

<!-- editor -->
<ckeditor *ngIf="story" [(ngModel)]="story.contenuto" disabled="true" [config]="ckConfig" [editor]="Editor"></ckeditor>