<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/beni">Beni Culturali</a>
        </li>
      </ul>

      <ul class="navbar-nav mr-md-2" *ngIf="!user">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>

      <a class="btn btn-outline-primary" routerLink="/signup" *ngIf="!user">Registrati</a>&nbsp;

      <ul class="navbar-nav mr-md-2" *ngIf="user">
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarUser" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Benvenuto, {{user.username}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarUserDropdown">
            <a class="dropdown-item" href="#">Profilo</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item pointer" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>

    </div>
  </nav>
</header>

<!-- The routed views render in the <router-outlet> -->
<div class="container pt-3">
  <router-outlet></router-outlet>
</div>