<div class="row">
  <div class="col-sm-4"><img [src]="asset?.cover_img_url" onError="this.src = 'assets/images/not-available-360x270.png'"
      alt="Immagine bene culturale" class="img-fluid"></div>
  <div class="col-sm-6">
    <h5>{{asset?.nome}}</h5>
    <p>{{asset?.descr || 'Nessuna descrizione disponibile.'}}</p>
  </div>
  <div class="col-sm-2">
    <p class="small"><i class="fa fa-globe" title="Coordinate" aria-hidden="true"></i>&nbsp;{{asset?.lat}}°,
      {{asset?.lon}}°</p>
    <p class="small"><i class="fa fa-pencil" title="Data creazione" aria-hidden="true"></i>&nbsp;{{asset?.created_at | date: 'dd-MM-yyyy'}}
    </p>
    <p class="small"><i class="fa fa-clock-o" title="Data ultima modifica"
        aria-hidden="true"></i>&nbsp;{{asset?.modified_at | date: 'dd-MM-yyyy'}}</p>
    <p class="small"><i class="fa fa-user" title="Proprietario" aria-hidden="true"></i>&nbsp;{{asset?.owner_username}}
    </p>
  </div>
</div>

<!-- cards rows -->
<div class="row mt-3">
  Story cards here
</div>
<!-- END cards rows -->