/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";


/* Line clamping (truncate text to three lines) */
.line-clamp-3 {
  -webkit-line-clamp: 3;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
